body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

#results {
  margin-top: 20px;
  max-width: 1000px;
  overflow-x: auto;
}

table,
#results table,
.form-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td,
#results th,
#results td {
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
}

#results th,
#results td {
  border-bottom: 1px solid #999;
  border-left: none;
  border-right: none;
}

#results table {
  border-top: 1px solid #000;
}

/* 名前と備考 */
th:nth-child(2),
td:nth-child(2),
th:nth-child(7),
td:nth-child(7) {
  width: 22%;
  text-align: left;
}

/* 分類、回数、状態 */
th:nth-child(1),
td:nth-child(1),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 8%;
  text-align: center;
}

/* 買値と売値 */
th:nth-child(5),
td:nth-child(5),
td:nth-child(6),
th:nth-child(6) {
  width: 8%;
  text-align: right;
}

tr.cursed {
  background-color: #ffe6e6;
}

tr.blessed {
  background-color: #ccffcc;
}

tr.non-default {
  background-color: #e0e0e0;
}

tr.new-category {
  border-top: 2px solid #000;
}

tbody tr:first-child {
  border-top: none !important;
}

#price {
  width: 90px;
  text-align: right;
  padding: 4px 4px;
}

.form-table {
  max-width: 1000px;
  border: none;
}

.form-table th,
.form-table td {
  border: none;
}

.form-table td:first-child {
  width: 45px;
}

.form-table td:not(:first-child) {
  width: 99%;
}

.radio-container {
  display: flex;
}

.radio-item {
  display: flex;
  white-space: normal;
}

.highlight {
  font-weight: bold;
  font-size: 1.1em;
}
