body {
  font-family: Arial, sans-serif;
  max-width: 800px;
}

#price {
  width: 90px;
  text-align: right;
  padding: 4px 4px;
}

.form-table {
  border: none;
  font-size: 16px;
}

.form-table td:first-child {
  text-align: center;
  width: 70px; /* Adjusted width for the first column */
}

.form-table td:not(:first-child) {
  width: calc(100% - 70px); /* Adjusted width for the remaining columns */
}

.radio-container {
  display: flex;
}

.radio-item {
  display: flex;
  white-space: normal;
}

#results table {
  border-top: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#results th,
#results td {
  padding: 3px;
  font-size: 16px;
  white-space: nowrap;
  border-bottom: 1px solid #999;
  border-left: none;
  border-right: none;
}

/* 名前と備考 */
#results th:nth-child(2),
#results td:nth-child(2),
#results th:nth-child(7),
#results td:nth-child(7) {
  width: 22%;
  text-align: left;
}

/* 分類、回数、状態 */
#results th:nth-child(1),
#results td:nth-child(1),
#results th:nth-child(3),
#results td:nth-child(3),
#results th:nth-child(4),
#results td:nth-child(4) {
  width: 8%;
  text-align: center;
}

/* 買値と売値 */
#results th:nth-child(5),
#results td:nth-child(5),
#results td:nth-child(6),
#results th:nth-child(6) {
  width: 8%;
  text-align: right;
}

#results tr.cursed {
  background-color: #ffe6e6;
}

#results tr.blessed {
  background-color: #ccffcc;
}

#results tr.non-default {
  background-color: #e0e0e0;
}

#results tr.new-category {
  border-top: 2px solid #000;
}

#results tbody tr:first-child {
  border-top: none !important;
}

#results .highlight {
  font-weight: bold;
  font-size: 1.1em;
}

.price-cell {
  display: flex;
  align-items: center;
}

.price-cell a {
  margin-left: 10px;
}
